/*
Theme Name: Ignite
devendra
Theme URI: https://www.competethemes.com/ignite/
Author: Compete Themes
Author URI: https://www.competethemes.com
Description: Ignite is a clean, free, and responsive blog theme. Its modern design is great for both business and personal websites. Ignite has a simple and minimalist design that looks equally great on laptops, tablets, and mobile devices. Features include: custom logo, social media icons, left- and right-sidebar layouts, five fonts, custom background colors, and many additional display options. Use it to blog about the news, food, music, fashion, or your travels. Ignite is now WooCommerce compatible, so you can even setup an eCommerce store. There is also a premium upgrade for Ignite called Ignite Plus. Ignite is also fully compatible with the new Gutenberg post editor. Preview Ignite now on desktop, tablets, and phones with the interactive live demo: https://www.competethemes.com/demos/?theme=ignite
Version: 1.75
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, right-sidebar, left-sidebar, custom-background, custom-logo, custom-menu, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, blog, education, news
Text Domain: ignite

Ignite WordPress Theme, Copyright 2018 Compete Themes
Ignite is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "lusitana", serif;
  line-height: 1.5;
  background: #EEEDE8;
  color: #212121;
  /*color: #373B41;*/
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.dev-breadcame{
  background-color: black;
}
.overflow-container {
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

.main {
  background: #EEEDE8;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* for when the menu is toggled open */
}
.main:after {
  content: '';
  position: absolute;
  top: -12em;
  /* to guarantee covering up breadcrumb trail if present*/
  left: 0;
  width: 100%;
  background: #373B41;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.loop-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

p {
  margin: 1.5em 3px;
  line-height: 26px;
}

a {
  color: #e6a117;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:link {
  color: #e6a117;
}
a:visited, a:hover, a:active {
  color: #A87227;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "lusitana", serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 2.625em;
  /* 42px / 16px */
  line-height: 1.143;
}

h2 {
  font-size: 2.25em;
  /* 36px / 16px */
  line-height: 1.34;
}

h3 {
  font-size: 1.625em;
  /* 26px / 16px */
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: -16px;

  line-height: 1.85;
}

h4 {
  font-size: 22px;
  margin-top: 18px;
  margin-bottom: -10px;
  /* 21px / 16px */
  line-height: 1.143;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.34;
}

h6 {
  font-size: 1em;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
/*pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #E8EAEE;
  padding: 0.75em;
}*/

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    background: #0f192a;
    padding: 0.75em;
    color: #ffffff;
    font-size: 14px;
}

code {
  background: #E8EAEE;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #e6a117;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

h4:after
{   

    content:' ';
    display:block;
    margin: 0.69em 0;
    border:1px solid #ccc!important
    
}
/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  margin: 0 0 1.8450184502em;
  font-size: 0.813em;
  line-height: 1.85;
  color: #7C7D7F;
}

/* Form styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  padding: 0.8em;
  width: 100%;
  max-width: 27.75em;
  background: #EEEDE8;
  color: #7C7D7F;
  outline: solid 1px #D9DCDF;
  border: none;
  font-family: "lusitana", serif;
  font-size: 0.813em;
  line-height: 1.85;
  border-radius: 0;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  -webkit-appearance: none;
}

textarea {
  max-width: 41.625em;
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type="submit"] {
  padding: 0.8em;
  width: 100%;
  color: white;
  background: #e6a117;
  outline: none;
  border: none;
  max-width: 13.875em;
  font-family: "lusitana", serif;
  font-size: 0.813em;
  line-height: 1.85;
  border-radius: 0;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  -webkit-appearance: none;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: #A87227;
}

input[type="search"] {
  margin-right: 1.5em;
  padding-right: 0.375em;
  /* so safari 'x' doesn't get cut off */
}

::-webkit-input-placeholder {
  color: #7C7D7F;
}

:-moz-placeholder {
  color: #7C7D7F;
}

::-moz-placeholder {
  color: #7C7D7F;
}

:-ms-input-placeholder {
  color: #7C7D7F;
}

/* sticky */
.excerpt.sticky, .sticky.entry {
  outline: solid 3px #e6a117;
}

/* ie image border fix */
a img {
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.infinite-loader,
#infinite-handle {
  clear: both;
}

.site-header {
  background: white;
  min-height: 72px;
  padding: 1.25em 3.703% 0;
  border-top: solid 4px #e6a117;
  position: relative;
}
.site-header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.title-info {
  float: right;
}
.title-info:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.site-title {
  font-size: 1.625em;
  line-height: 1.85;
  z-index: 1;
  float: right;
}
.site-title a {
  text-decoration: none;
  color: #373B41;
  line-height: 0;
}
.site-title a:link, .site-title a:visited {
  color: #373B41;
}
.site-title a:hover, .site-title a:active, .site-title a:focus {
  color: #e6a117;
}
.site-title a:only-child {
  margin-top: -5px;
  line-height: 1.5;
  display: block;
}
.site-title img {
  max-width: 6em;
  max-height: 2.25em;
}
.site-title span {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toggle-navigation {
  color: #373B41;
  font-size: 1.625em;
  line-height: 1.35;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
  background: none;
  border: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.toggle-navigation:hover {
  cursor: pointer;
}

.menu-primary {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: #373B41;
  width: 100%;
  min-height: 75em;
  max-width: 25em;
  /* 400px */
  position: absolute;
  top: 4.275em;
  left: 0;
  padding-top: 1.5em;
  text-align: center;
  z-index: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
}
.menu-primary p {
  color: #e6a117;
  display: inline-block;
  border-top: solid 2px #303338;
  border-bottom: solid 2px #303338;
  padding: 1.5em 0;
}

.menu-primary-items,
.menu-unset {
  list-style: none;
}
.menu-primary-items a,
.menu-unset a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 1.5em 0;
  display: block;
}
.menu-primary-items a:hover,
.menu-unset a:hover {
  color: #e6a117;
}
.menu-primary-items ul,
.menu-unset ul {
  list-style: none;
}
.menu-primary-items ul a,
.menu-unset ul a {
  font-size: 0.813em;
  color: #D9DCDF;
  margin-top: -1.5em;
}
.menu-primary-items ul a:hover,
.menu-unset ul a:hover {
  color: white;
}
.menu-primary-items ul ul a,
.menu-unset ul ul a {
  color: #7C7D7F;
}
.menu-primary-items .current-menu-item > a,
.menu-primary-items .current_page_item > a,
.menu-unset .current-menu-item > a,
.menu-unset .current_page_item > a {
  color: #e6a117;
}

.social-media-icons {
  margin-top: 3em;
}
.social-media-icons li {
  display: inline-block;
}
.social-media-icons li a {
  color: white;
  margin: 0 0.375em;
  text-decoration: none;
  /* for IE9 */
}
.social-media-icons li a:hover {
  color: #e6a117;
}

.site-header.toggled .menu-primary {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.site-header.toggled ~ div .main:after {
  bottom: 0;
  opacity: 0.4;
}
.site-header.toggled ~ div .sidebar-primary-container:after {
  bottom: 0;
  opacity: 0.4;
}

/* 600px */
@media all and (min-width: 37.5em) {
  .site-header {
    padding: 1.25em 7.407% 0;
  }

  .site-title {
    right: 7.407%;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .site-header {
    height: auto;
    min-height: 4.5em;
    padding: 0 11.11%;
  }

  .toggle-navigation {
    display: none;
  }

  .title-info {
    float: left;
    margin-bottom: 5px;
    padding: 1.125em 3em 0 0;
  }

  .site-title {
    position: static;
    line-height: 1;
    margin-right: 0.225em;
  }

  .menu-primary {
    position: static;
    max-width: none;
    min-height: 1px;
    width: auto;
    padding: 0;
    text-align: left;
    background: none;
    -webkit-transform: none;
            transform: none;
  }
  .menu-primary p {
    display: none;
  }

  .menu-unset {
    float: left;
  }

  .menu-primary-items,
  .menu-unset ul {
    margin: 0;
    line-height: 0;
    float: left;
  }
  .menu-primary-items li,
  .menu-unset ul li {
    float: left;
    position: relative;
  }
  .menu-primary-items a,
  .menu-unset ul a {
    color: #373B41;
    margin: 0;
    padding: 0 0.75em;
    font-size: 0.813em;
    line-height: 5.231em;
    /* 68px */
    letter-spacing: 0.1em;
    background: white;
    -webkit-transition: background 0.2s ease;
            transition: background 0.2s ease;
  }
  .menu-primary-items a:link, .menu-primary-items a:visited,
  .menu-unset ul a:link,
  .menu-unset ul a:visited {
    color: #373B41;
  }
  .menu-primary-items a:hover, .menu-primary-items a:active, .menu-primary-items a:focus,
  .menu-unset ul a:hover,
  .menu-unset ul a:active,
  .menu-unset ul a:focus {
    color: white;
    background: #e6a117;
  }
  .menu-primary-items a:hover:after, .menu-primary-items a:active:after, .menu-primary-items a:focus:after,
  .menu-unset ul a:hover:after,
  .menu-unset ul a:active:after,
  .menu-unset ul a:focus:after {
    color: white !important;
  }
  .menu-primary-items a:hover + ul, .menu-primary-items a:active + ul, .menu-primary-items a:focus + ul,
  .menu-unset ul a:hover + ul,
  .menu-unset ul a:active + ul,
  .menu-unset ul a:focus + ul {
    top: 4.2495em;
    opacity: 1;
  }
  .menu-primary-items ul,
  .menu-unset ul ul {
    position: absolute;
    top: -999em;
    opacity: 0;
    margin: 0;
    z-index: 3;
    min-width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    /* remove slight wiggle caused by opacity change */
    -webkit-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }
  .menu-primary-items ul li,
  .menu-unset ul ul li {
    min-width: 100%;
  }
  .menu-primary-items ul a,
  .menu-unset ul ul a {
    margin-top: 0;
    color: #373B41;
    white-space: nowrap;
  }
  .menu-primary-items ul a:hover, .menu-primary-items ul a:active, .menu-primary-items ul a:focus,
  .menu-unset ul ul a:hover,
  .menu-unset ul ul a:active,
  .menu-unset ul ul a:focus {
    color: white;
  }
  .menu-primary-items ul a:hover:after, .menu-primary-items ul a:active:after, .menu-primary-items ul a:focus:after,
  .menu-unset ul ul a:hover:after,
  .menu-unset ul ul a:active:after,
  .menu-unset ul ul a:focus:after {
    color: white !important;
  }
  .menu-primary-items ul a:hover + ul, .menu-primary-items ul a:active + ul, .menu-primary-items ul a:focus + ul,
  .menu-unset ul ul a:hover + ul,
  .menu-unset ul ul a:active + ul,
  .menu-unset ul ul a:focus + ul {
    top: 0;
    left: 100%;
  }
  .menu-primary-items ul:hover,
  .menu-unset ul ul:hover {
    top: 4.2495em;
    opacity: 1;
  }
  .menu-primary-items ul ul:hover,
  .menu-unset ul ul ul:hover {
    top: 0;
    left: 100%;
  }
  .menu-primary-items:after,
  .menu-unset ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .site-header .social-media-icons {
    display: none;
  }

  #menu-primary-items,
  .menu-unset ul {
    /* using id to avoid annoying selector competition */
  }
  #menu-primary-items .current-menu-item > a,
  #menu-primary-items .current_page_ancestor > a,
  #menu-primary-items .current_page_item > a,
  #menu-primary-items .current_page_ancestor > a,
  .menu-unset ul .current-menu-item > a,
  .menu-unset ul .current_page_ancestor > a,
  .menu-unset ul .current_page_item > a,
  .menu-unset ul .current_page_ancestor > a {
    color: white;
    background: #e6a117;
  }
  #menu-primary-items .current-menu-item > a:after,
  #menu-primary-items .current_page_ancestor > a:after,
  #menu-primary-items .current_page_item > a:after,
  #menu-primary-items .current_page_ancestor > a:after,
  .menu-unset ul .current-menu-item > a:after,
  .menu-unset ul .current_page_ancestor > a:after,
  .menu-unset ul .current_page_item > a:after,
  .menu-unset ul .current_page_ancestor > a:after {
    color: white !important;
  }
  #menu-primary-items.clear,
  .menu-unset ul.clear {
    clear: left;
  }

  /* because .menu-primary-items is a 'ul' this needs to be declared separately */
  .menu-unset:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .menu-unset ul {
    margin: 0;
  }
  .menu-unset ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* show drop down items when accessed with keyboard too */
  .menu-primary-items ul.focused,
  .menu-unset ul ul.focused {
    top: 4.2495em;
    opacity: 1;
  }
  .menu-primary-items ul.focused ul.focused,
  .menu-unset ul ul.focused ul.focused {
    top: 0;
    left: 100%;
  }

  .parent-icons .menu-item-has-children > a {
    padding: 0 1.5em 0 0.75em;
  }
  .parent-icons .menu-item-has-children > a:after {
    content: '\25BE';
    font-family: 'Arial', 'sans-serif';
    color: #373B41;
    margin-left: 4px;
    position: absolute;
    top: -1px;
  }
  .parent-icons .menu-item-has-children ul .menu-item-has-children > a:after {
    content: '\25B8';
  }

  .site-header .social-media-icons {
    display: inline-block;
    visibility: hidden;
    margin: 0;
    float: right;
    position: absolute;
  }
  .site-header .social-media-icons li a {
    color: #373B41;
    line-height: 4.25em;
    /* 68px */
  }
  .site-header .social-media-icons li a:hover {
    color: #e6a117;
  }
  .site-header .social-media-icons li:last-child a {
    margin-right: 0;
  }
  .site-header .social-media-icons.visible {
    position: relative;
    visibility: visible;
  }
  .site-header .social-media-icons.visible-top {
    visibility: visible;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-header {
    padding: 0 7.407%;
  }
}
/* 1000px */
@media all and (min-width: 62.5em) {
  .menu-primary p {
    margin: 1.0625em 3em 8px -3em;
    display: inline-block;
    line-height: 2;
    color: #7C7D7F;
    border: none;
    padding: 0;
    float: left;
  }

  .site-title {
    float: left;
  }
}
.main,
.sidebar-primary-container,
.site-footer,
#disqus_thread {
  padding: 1.5em 3.703%;
}

.excerpt, .entry {
  background: white;
  margin: 1.5em auto;
  padding: 1.5em 8% 2.25em;
}

/*.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 56.5%;
  left: -9.5%;
  width: 119%;
  margin: -1.5em 0 1.5em 0;
  overflow: hidden;
}*/

.featured-image {
    position: relative;
    height: 0;
    padding-bottom: 62.5%;
    left: 0.5%;
    width: 125%;
    margin: -2.5em 0 -3.5em 0;
    overflow: hidden;
}

.featured-image > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.featured-image > img,
.featured-image > a > img {
  position: absolute;
  left: 0;
  height: 75%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-image > img.no-object-fit,
.featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  right: 50%;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}
.featured-image .ccfic {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8%;
  font-size: 13px;
}

.excerpt-meta-top, .entry-meta-top {
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
  position: relative;
}
.excerpt-meta-top:after, .entry-meta-top:after {
  content: '';
  position: absolute;
  width: 32%;
  height: 2px;
  background: #e6a117;
  bottom: 0;
  left: 0;
}
.excerpt-meta-top a, .entry-meta-top a {
  text-decoration: none;
  color: #373B41;
}
.excerpt-meta-top a:link, .entry-meta-top a:link, .excerpt-meta-top a:visited, .entry-meta-top a:visited {
  color: #373B41;
}
.excerpt-meta-top a:hover, .entry-meta-top a:hover, .excerpt-meta-top a:active, .entry-meta-top a:active {
  color: #e6a117;
}

.excerpt-title, .entry-title {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.385;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
.excerpt-title a, .entry-title a {
  color: #373B41;
  text-decoration: none;
}
.excerpt-title a:link, .entry-title a:link, .excerpt-title a:visited, .entry-title a:visited {
  color: #373B41;
}
.excerpt-title a:hover, .entry-title a:hover, .excerpt-title a:active, .entry-title a:active {
  color: #7C7D7F;
}

.excerpt-content {
  border-bottom: solid 2px #D9DCDF;
}

.more-link {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 2.25em;
  background: #e6a117;
  color: white;
  padding: 0 16.5px;
  margin: 1.125em 0;
  -webkit-transition: background 0.2s ease;
          transition: background 0.2s ease;
  clear: both;
}
.more-link:link, .more-link:visited {
  color: white;
}
.more-link:hover, .more-link:active {
  background: #A87227;
}

.excerpt-categories, .entry-categories,
.excerpt-tags,
.entry-tags,
.excerpt-comments {
  color: #7C7D7F;
}
.excerpt-categories p, .entry-categories p,
.excerpt-tags p,
.entry-tags p,
.excerpt-comments p {
  margin: 0.75em 0 0;
  padding-left: 1.5em;
}
.excerpt-categories i, .entry-categories i,
.excerpt-tags i,
.entry-tags i,
.excerpt-comments i {
  margin-left: -1.5em;
}
.excerpt-categories a, .entry-categories a,
.excerpt-tags a,
.entry-tags a,
.excerpt-comments a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.813em;
  line-height: 1.7;
  margin-right: 0.75em;
}
.excerpt-categories a:link, .entry-categories a:link, .excerpt-categories a:visited, .entry-categories a:visited,
.excerpt-tags a:link,
.entry-tags a:link,
.excerpt-tags a:visited,
.entry-tags a:visited,
.excerpt-comments a:link,
.excerpt-comments a:visited {
  color: #7C7D7F;
}
.excerpt-categories a:hover, .entry-categories a:hover, .excerpt-categories a:active, .entry-categories a:active,
.excerpt-tags a:hover,
.entry-tags a:hover,
.excerpt-tags a:active,
.entry-tags a:active,
.excerpt-comments a:hover,
.excerpt-comments a:active {
  color: #e6a117;
}

.excerpt-categories i, .entry-categories i,
.excerpt-comments i {
  margin-right: 0.4375em;
}

.excerpt-tags i, .entry-tags i {
  margin-right: 0.625em;
}

.pagination {
  background: white;
  padding: 0.75em;
  border-top: solid 2px #e6a117;
  text-align: center;
  margin-bottom: 1.5em;
}
.pagination span,
.pagination a {
  margin: 0 0.375em;
}
.pagination a {
  text-decoration: none;
}

.infinite-scroll .pagination {
  display: none;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .excerpt-meta-top:after, .entry-meta-top:after {
    width: 20%;
  }
}
/* 600px */
@media all and (min-width: 37.5em) {
  .main,
  .sidebar-primary-container,
  .site-footer,
  #disqus_thread {
    padding: 1.5em 7.407%;
  }

  .pagination span,
  .pagination a {
    margin: 0 0.75em;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .main,
  .sidebar-primary-container,
  .site-footer,
  #disqus_thread {
    padding: 1.5em 11.11%;
  }

  .excerpt, .entry {
    padding: 2.25em 14.333%;
  }

  .featured-image {
    left: -20%;
    width: 140%;
    padding-bottom: 66.5%;
    margin-top: -2.25em;
  }
  .featured-image .ccfic {
    padding: 4px 14.333%;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  /* switch from padding to width */
/*  .main {
    width: 55.55%;
    padding: 1.5em 0;
    float: left;
    margin: 0 3.703% 0 7.407%;
  }*/

  .main {
    width: 55.55%;
    padding: 1.5em 0;
    float: left;
    margin: 0px 4.703% 0 2.407%;
}

  .sidebar-primary-container, .site-footer, #disqus_thread {
    padding: 1.5em 7.407%;
  }

  .excerpt, .entry {
    padding: 2.25em 13.333%;
  }
.dk-header{
    margin-bottom: 50px !important;
  }
/*  .featured-image {
    left: -18%;
    width: 136%;
    padding-bottom: 64.5%;
  }*/
.featured-image {
    left: 0.40%;
    width: 120.33%;
    padding-bottom: 51.5%;
}  
  .featured-image .ccfic {
    padding: 4px 13.333%;
  }

  .pagination {
    margin-bottom: 3em;
  }
}
/* 1000px */
@media all and (min-width: 62.5em) {
  .excerpt, .entry {
    padding-top: 3em;
  }

  .excerpt-title, .entry-title {
    font-size: 2.325em;
    line-height: 1.143;
  }

  .excerpt-categories, .entry-categories,
  .excerpt-tags,
  .entry-tags,
  .excerpt-comments {
    display: inline-block;
  }

  .excerpt-categories, .entry-categories,
  .excerpt-tags,
  .entry-tags {
    margin-right: 0.75em;
  }

  .featured-image {
    margin-top: -1em;
    margin-bottom: -100px;
  }
}

/* 1100px */
@media all and (min-width: 68.75em) {
  .main {
    width: 68.253%;
  }

  .excerpt, .entry {
    margin: 3em 0;
    padding: 3em 5.5% 2.25em;
  }

/*  .featured-image {
    left: -16.67%;
    width: 133.33%;
    padding-bottom: 63.5%;
  }*/
.featured-image {
    left: 0.33%;
    width: 119.33%;
    padding-bottom: 51.5%;
}    
  .featured-image .ccfic {
    padding: 4px 12.5%;
  }
}
.sidebar-primary-container {
  position: relative;
  /* used to set neg z-index so main overlay covers it */
  background: #EEEDE8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* for when the menu is toggled open */
}
.sidebar-primary-container:after {
  content: '';
  position: absolute;
  top: 0;
  /* to guarantee covering up breadcrumb trail if present*/
  left: 0;
  width: 100%;
  background: #373B41;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.widget {
  background: white;
  border-top: solid 3px #e6a117;
  font-size: 0.813em;
  line-height: 1.85;
  margin: 1.8450184502em 0;
  padding: 1.615em 8% 0.923em;
}
.widget ul {
  list-style: none;
  margin: 1em 0 1.8450184502em;
}
.widget ul li {
  padding: 0.846em 0.5em 0.923em 0;
  /* subtracted 1px for border */
  margin: 0;
  border-bottom: solid 1px #D9DCDF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget ul li:last-child {
  border: none;
}
.widget ul li a {
  display: block;
  text-decoration: none;
}
.widget ul li:hover {
  background: rgba(240, 240, 240, 0.15);
  padding-left: 0.5em;
  padding-right: 0;
  /* added above to be removed now so the space doesn't decrease at all */
}
.widget ul ul {
  margin: 0 0 0 1em;
}
.widget ul ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.widget a {
  color: #373B41;
}
.widget a:link, .widget a:visited {
  color: #373B41;
}
.widget a:hover, .widget a:active {
  color: #e6a117;
}

.widget-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 1em;
  line-height: 1.85;
  margin-bottom: 1.8450184502em;
}

/* widget-specific styling */
.widget-archives ul li,
.widget-categories ul li {
  position: relative;
}
.widget-archives ul li span,
.widget-categories ul li span {
  float: right;
  margin-top: -1.75em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget-archives ul li:hover span,
.widget-categories ul li:hover span {
  padding-right: 0.75em;
}

.widget_categories select {
  margin-bottom: 1.5em;
}

.widget_ct_ignite_image {
  background: none;
  border: none;
  padding: 0;
}

/* 800px */
@media all and (min-width: 50em) {
  .sidebar-primary-container .widget {
    padding: 1.615em 14.33% 0.923em;
  }
  .sidebar-primary-container .widget_ct_ignite_image {
    padding: 0;
  }

  .parent-icons .widget_nav_menu .menu-item-has-children > a:after {
    display: none;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .sidebar-primary-container {
    width: 25.923%;
    padding: 1.5em 0;
    float: left;
    margin-top: 1.5em;
  }

  .widget:first-child {
    margin-top: 0;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .sidebar-primary-container {
    width: 22.222%;
    margin-top: 3em;
  }
}
.entry-content {
  margin-top: 1.5em;
}
.entry-content iframe {
  max-width: 100%;
}
.entry-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.further-reading {
  margin: 1.5em 0;
}
.further-reading span {
  border-bottom: solid 1px #e6a117;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.further-reading a {
  color: #373B41;
  text-decoration: none;
  display: block;
}
.further-reading a:link, .further-reading a:visited {
  color: #373B41;
}
.further-reading a:hover, .further-reading a:active {
  color: #e6a117;
}

.author-meta {
  background: #f5f5f5;
  border: solid 1px #E8EAEE;
  padding: 1.5em;
  margin: 1.5em 0;
}
.author-meta h4 {
  font-weight: 700;
  border-bottom: solid 1px #e6a117;
  display: inline-block;
  padding-bottom: 3px;
}
.author-meta h4 a {
  text-decoration: none;
  color: #373B41;
}
.author-meta h4 a:link, .author-meta h4 a:visited {
  color: #373B41;
}
.author-meta h4 a:hover, .author-meta h4 a:active, .author-meta h4 a:focus {
  color: #e6a117;
}
.author-meta img {
  border-radius: 50%;
  float: left;
  margin: 0 1.5em 0 0;
  width: 72px;
  height: 72px;
  overflow: hidden;
}
.author-meta p {
  margin-top: 0.75em;
  margin-left: 6em;
}

.wp-block-image.alignfull,
.wp-block-cover {
  position: relative;
  left: -9.5%;
  width: 119%;
  max-width: none;
}

.wp-block-image.alignwide {
  position: relative;
  left: -5%;
  width: 110%;
  max-width: none;
}

.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
  margin: 1.5em;
}

.wp-block-embed {
  margin: 1.5em 0;
}

.wp-block-code code {
  background: none;
}

/* 700px */
@media all and (min-width: 43.75em) {
  .further-reading p {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding-right: 4%;
  }
  .further-reading .prev {
    float: left;
  }
  .further-reading .next {
    text-align: right;
    padding: 0 0 0 4%;
    float: right;
  }
  .further-reading:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .wp-block-image.alignfull,
  .wp-block-cover {
    left: -20.25%;
    width: 140.5%;
  }

  .wp-block-image.alignwide {
    left: -12%;
    width: 124%;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .wp-block-image.alignfull,
  .wp-block-cover {
    left: -18%;
    width: 136%;
  }

  .wp-block-image.alignwide {
    left: -10%;
    width: 120%;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .entry {
    margin-bottom: 1.5em;
  }

  .wp-block-image.alignfull,
  .wp-block-cover {
    left: -16.75%;
    width: 133.5%;
  }

  .wp-block-image.alignwide {
    left: -9%;
    width: 118%;
  }
}
.comments {
  background: white;
  margin: -1.5em 0 3em;
  padding: 0 8% 2.25em;
}

.comments-number {
  border-top: solid 2px #D9DCDF;
  padding-top: 1.375em;
}
.comments-number h2 {
  font-size: 1.625em;
  /* 26px / 16px */
  line-height: 1.85;
}

.comment-list {
  list-style: none;
  margin: 3em 0;
}
.comment-list ul {
  list-style: none;
  margin: 3em 0 1.5em 3em;
}
.comment-list ul li:first-child:before {
  content: "\2192";
  position: absolute;
  left: -1.5em;
  top: 1em;
}

li.comment,
li.pingback {
  margin: 3em 0;
  position: relative;
}

.comment-content {
  margin-left: 3.75em;
}
.comment-content p:first-child {
  margin-top: 0;
}
.comment-content p:last-child {
  margin-bottom: 1.437em;
  /* b/c comment meta border */
}

.no-avatars .comment-content,
.no-avatars .comment-meta {
  margin-left: 0;
}

.comment-author:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.comment-author img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  float: left;
  margin: 0 0.75em 0 0;
}
.comment-author .author-name {
  font-weight: 700;
}
.comment-author .author-name a {
  color: #e6a117;
  text-decoration: none;
}
.comment-author .author-name a:link, .comment-author .author-name a:visited {
  color: #e6a117;
}
.comment-author .author-name a:hover, .comment-author .author-name a:active {
  color: #A87227;
}

.comment-meta {
  font-size: 0.813em;
  line-height: 1.85;
  display: inline-block;
  border-top: solid 1px #D9DCDF;
  margin-left: 4.6125em;
}

.comment-date {
  display: inline-block;
}

.comment-reply-link,
.comment-edit-link {
  text-decoration: none;
}
.comment-reply-link:before,
.comment-edit-link:before {
  content: ' | ';
  color: #373B41;
}

.bypostauthor > article .comment-author img {
  border: solid 2px #e6a117;
}
.bypostauthor > article .comment-author .author-profile-image-comment img {
  border: none;
}

.comment-respond {
  margin-top: 3em;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .comment-pagination p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .comment-pagination .next-comment {
    text-align: right;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .comments {
    padding: 0 14.333% 2.25em;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .comments {
    padding: 0 13.333% 2.25em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .comments {
    padding: 0 12.5% 2.25em;
  }
}
.site-footer {
  background: #373B41;
  /*color: #7C7D7F;*/
  color: #fff;
  padding-bottom: 0;
  overflow: hidden;
  text-align: center;
}
.site-footer h1 {
  font-size: 1.625em;
  /* 26px / 16px */
  line-height: 1.85;
}
.site-footer a {
  /*color: #7C7D7F;*/
  color: #fff;
  text-decoration: none;
}
.site-footer a:link, .site-footer a:visited {
  color: #fff;
}
.site-footer a:hover, .site-footer a:active {
  color: #e6a117;
}

.design-credit {
  background: #303338;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  padding: 0.75em;
  margin-top: 3em;
  position: relative;
  left: -4%;
  width: 108%;
}

.scroll-to-top {
  position: fixed;
  bottom: -45px;
  right: 0;
  z-index: 9;
  background: #303338;
  border: none;
  color: #fff;
  padding: 12px 0;
  width: 60px;
  -webkit-transition: background 0.2s, -webkit-transform 0.3s;
          transition: background 0.2s, transform 0.3s;
}
.scroll-to-top.visible {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}
.scroll-to-top:hover {
  cursor: pointer;
  background: #373B41;
}
.scroll-to-top:hover i {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.scroll-to-top i {
  font-size: 21px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

/* 600px */
@media all and (min-width: 37.5em) {
  .design-credit {
    left: -9%;
    width: 118%;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  .site-footer {
    padding: 1.5em 3.703% 0;
  }

  .sidebar-subsidiary:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .design-credit {
    clear: both;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .site-footer {
    padding: 1.5em 7.407% 0;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-footer {
    padding: 1.5em 3.703% 0;
  }

  .design-credit {
    left: -4%;
    width: 108%;
  }
}
/* screen reader styling */
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

/* skip content link */
.skip-content {
  position: absolute;
  top: -4.5em;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  background: #373B41;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
.skip-content:focus {
  top: 0;
}

.breadcrumbs {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.08em;
  padding: 3em 3.703% 0;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.breadcrumbs a {
  text-decoration: none;
  color: #e6a117;
}
.breadcrumbs a:link, .breadcrumbs a:visited {
  color: #e6a117;
}
.breadcrumbs a:hover, .breadcrumbs a:active {
  color: #A87227;
}
.breadcrumbs span {
  opacity: 1.5;
}
.breadcrumbs + div .excerpt, .breadcrumbs + div .entry,
.breadcrumbs + div .search-container,
.breadcrumbs + div .search-end.top {
  margin-top: 0;
}

/* 600px  breadcrumbs */
@media all and (min-width: 37.5em) {
  .breadcrumbs {
    padding: 3em 7.407% 0;
  }
}
/* 800px  breadcrumbs */
@media all and (min-width: 50em) {
  .breadcrumbs {
    padding: 3em 11.11% 0;
  }
}
/* 900px  breadcrumbs */
@media all and (min-width: 56.25em) {
  .breadcrumbs {
    padding: 1em 2.407% 12px;
    /* remove margin top on sidebar (and main which didn't have any anyway)*/
  }
  .breadcrumbs ~ div,
  .breadcrumbs ~ aside {
    margin-top: 0;
  }
}
.search .entry {
  margin-bottom: 0;
}
.search .entry-header {
  padding-top: 1.5em;
}
.search .sticky-status {
  display: none;
}

.entry-header{
  margin-bottom: 55px;
}
.search-form {
  margin-top: 1.5em;
}
.search-form input[type="submit"] {
  max-width: 27.75em;
  margin-top: 1.5em;
}

.search .search-end {
  padding: 1.5em 8% 2.25em;
  background: white;
  margin-bottom: 1.5em;
}
.search .search-end.top {
  padding-bottom: 3em;
  margin-top: 1.5em;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .search-form input[type="submit"] {
    max-width: 13.875em;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .search .search-container {
    padding: 1.5em 0;
  }
  .search .search-end {
    padding: 1.5em 14.333% 2.25em;
  }
  .search .search-end.top {
    padding-bottom: 4.5em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .search .search-container {
    margin-top: 3em;
  }
  .search .search-end {
    padding: 3em 12.5% 2.25em;
    margin-bottom: 3em;
  }
  .search .search-end.top {
    margin-top: 3em;
  }
}
/* Password-protected post */
.post-password-form input[type="password"] {
  display: block;
  margin: 0.75em 0;
}

/* attachment page */
.singular-attachment .further-reading p {
  width: 49.5%;
}

/* Full-width template */
@media all and (min-width: 56.25em) {
  .page-template-full-width .main {
    float: none;
    width: 85.186%;
    margin-left: 7.407%;
  }
}
/* Left Sidebar */
@media all and (min-width: 56.25em) {
  .sidebar-left .main {
    float: right;
    margin: 0 7.407% 0 3.703%;
  }
  .sidebar-left .sidebar-primary-container {
    float: left;
    margin-left: 7.407%;
  }
}
/**
 * 14.2 Galleries
 */
.gallery {
  margin: 1.5em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: #7C7D7F;
  display: block;
  font-family: "lusitana", serif;
  font-size: 12px;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

/* bbpress styles */
/* The evil, inane styles of bbPress have left little recourse, so I apologize now
 * for my CSS sins; for every !important tag and id used to battle the font-size
 * re-declarations, qualifying selectors, triple id selectors, and other villainy
 * of bbPress.
 *
 * Amen.
*/
#ignite div.bbp-search-form,
#ignite-child div.bbp-search-form {
  float: none;
}

#bbp_search_submit {
  padding: 0.8em;
}

#bbp_search {
  width: 100% !important;
  margin: 0 0.375em 0.75em 0;
}

#bbpress-forums {
  font-size: 1em !important;
  line-height: 1.5 !important;
}
#bbpress-forums ul,
#bbpress-forums .bbp-forum-content,
#bbpress-forums .bbp-breadcrumb {
  font-size: 1em !important;
  line-height: 1.5 !important;
}
#bbpress-forums .bbp-topic-meta,
#bbpress-forums .bbp-forum {
  font-size: 13px !important;
  line-height: 16px;
}
#bbpress-forums .bbp-forum-title {
  font-weight: 700;
}
#bbpress-forums .entry {
  padding: 1.5em;
}

/* Disqus styles */
#disqus_thread {
  background: #fff;
  margin: -1.5em 0 1.5em;
}

.singular-attachment .attachment-container img {
  display: block;
}
.singular-attachment .attachment-caption {
  font-size: 12px;
  line-height: 1.5;
}

.woocommerce .product .quantity .qty {
  width: 50px !important;
  font-size: 16px !important;
  padding: 7px 6px 8px 12px !important;
}
.woocommerce .product .single_add_to_cart_button {
  line-height: 1.5;
  padding: 11px 24px;
}
.woocommerce .product .comment-form-comment label {
  display: block;
}
.woocommerce .woocommerce-product-gallery__wrapper {
  margin: 0;
}
.woocommerce .product_meta a {
  text-decoration: underline;
}
.woocommerce .woocommerce-review-link {
  text-decoration: underline;
}
.woocommerce .woocommerce-Reviews-title,
.woocommerce .related h2,
.woocommerce .upsells h2,
.woocommerce .comment-reply-title {
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 800;
}
.woocommerce .star-rating {
  color: #e6a117;
}
.woocommerce .comment-reply-title {
  display: block;
}

.woocommerce.archive .loop-container {
  background: #fff;
  padding: 1.5em 8% 2.25em;
}
.woocommerce.archive .page-title {
  font-weight: 800;
  font-size: 1.625em;
  line-height: 1.385;
}

.woocommerce-cart th, .woocommerce-cart td,
.woocommerce-checkout th,
.woocommerce-checkout td,
.woocommerce-page th,
.woocommerce-page td {
  border: none;
}
.woocommerce-cart h2,
.woocommerce-cart h3,
.woocommerce-checkout h2,
.woocommerce-checkout h3,
.woocommerce-page h2,
.woocommerce-page h3 {
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 800;
}

.woocommerce-cart .quantity input {
  width: 50px !important;
  font-size: 14px !important;
  padding: 8px 4px !important;
}
.woocommerce-cart .coupon input {
  max-width: none !important;
  width: 49% !important;
}
.woocommerce-cart .coupon input[type="text"] {
  font-size: 14px !important;
  padding: 7px 12px 8px !important;
}
.woocommerce-cart table.shop_table td.product-name {
  padding: 24px 12px;
}
.woocommerce-cart table.shop_table .actions {
  padding: 12px;
}

.woocommerce-checkout input {
  max-width: none;
}
.woocommerce-checkout .required {
  text-decoration: none;
}
.woocommerce-checkout #customer_details {
  margin-bottom: 24px;
}

.woocommerce-account .woocommerce {
  position: relative;
  border: solid 1px #D9DCDF;
  border-radius: 6px;
  min-height: 260px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  background: #D9DCDF;
  padding: 1.5em;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
  margin-bottom: 12px;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  text-decoration: underline;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a {
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  color: #000;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a:hover, .woocommerce-account .woocommerce-MyAccount-navigation li a:active, .woocommerce-account .woocommerce-MyAccount-navigation li a:focus {
  text-decoration: underline;
}
.woocommerce-account .woocommerce-MyAccount-content {
  padding: 1.5em;
}
.woocommerce-account .woocommerce-MyAccount-content > p:first-child {
  margin-top: 0;
}
.woocommerce-account .woocommerce-MyAccount-content fieldset {
  margin: 1.5em 0;
}
.woocommerce-account .woocommerce-message {
  z-index: 9;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  top: -26px;
}

.woocommerce form .form-row .required {
  text-decoration: none;
}

@media all and (min-width: 769px) {
  .woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width: 40%;
  }

  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 56%;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
@media all and (min-width: 50em) {
  .woocommerce .entry,
  .woocommerce-cart .entry,
  .woocommerce-checkout .entry,
  .woocommerce-page .entry {
    padding: 1.5em 8% 2.25em;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .woocommerce-cart .main,
  .woocommerce-checkout .main,
  .woocommerce-account .main {
    float: none;
    margin: 0 auto;
  }
  .woocommerce-cart .breadcrumb-trail,
  .woocommerce-checkout .breadcrumb-trail,
  .woocommerce-account .breadcrumb-trail {
    width: 55.55%;
    margin: 0 auto;
    padding: 3em 0 0;
  }
}
@media all and (min-width: 1000px) {
  .woocommerce .entry-title,
  .woocommerce-account .entry-title {
    font-size: 1.625em;
    line-height: 1.385;
  }
}
@media all and (min-width: 68.75em) {
  .woocommerce-cart .breadcrumb-trail,
  .woocommerce-checkout .breadcrumb-trail,
  .woocommerce-account .breadcrumb-trail {
    width: 59.253%;
  }
}
/*

ATTENTION:

Please do not edit this. Your changes will be overwritten when you update Ignite.

If you want to make CSS edits, use the "Additional CSS" section in the Customizer instead (Appearance > Customize).

If you want more information about customizing Ignite with CSS, check out this guide: https://www.competethemes.com/help/custom-css-ignite/

*/
